@{
    ViewData["Title"] = "Ordem Paranormal - Atributos";
}

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="centerAtributos">
    <div class="newAtributos">
        <div class="txtAtributos">
            <p class="txtDescRegra">
                Ao criar um personagem, todos os seus atributos começam em 1 e você recebe 4 pontos
                para distribuir como quiser. Você também pode reduzir um atributo para 0 para receber 1 ponto adicional.
                O valor máximo inicial que você pode ter em cada atributo é 3.
            </p>
        </div>
        <div class="alignDdlBtn">
            <a asp-controller="Ficha" asp-action="Origens" class="btnSubmit">Ok</a>
        </div>
        <div class="alignLado">
            <div class="alignAtributosImg">
                <img src="~/images/Atributos.png" alt="Imagem Atributos" class="imgDescAtributos" id="">
            </div>
            <div class="alignAtributosDesc">
                <h5 class="titleBox">Atributos (Descrição):</h5>
                <p class="txtDescAtributos" id="">
                    Seus personagens possuem cinco atributos, que definem suas competências básicas: Agilidade, Força, Intelecto, Presença e Vigor.
                    Atributos são medidos numericamente. Um valor 1 representa a média humana. Valores 2 ou 3 estão acima da média.
                </p>
                <div class="centerAccordions">
                    <div class="accordion">
                        <input type="checkbox" id="tab1" />
                        <label class="accordion-label" for="tab1">Agilidade</label>
                        <div class="accordion-content">
                            Define sua coordenação motora, velocidade de reação e destreza manual. Uma pessoa com Agilidade
                            elevada é rápida e tem movimentos precisos, como um ginasta ou dançarino.
                            Agilidade é o atributo-base das perícias Acrobacia, Furtividade, Iniciativa, Crime, Pilotagem, Pontaria e Reflexos.
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="checkbox" id="tab2" />
                        <label class="accordion-label" for="tab2">Força</label>
                        <div class="accordion-content">
                            Determina sua potência muscular e habilidade atlética. Um personagem com Força alta tem grande
                            capacidade física, seja por predisposição genética, treinamento constante ou modificação paranormal.
                            Força é o atributo-base de Atletismo e Luta, além de ser aplicada em suas rolagens de dano corpo a corpo e com armas de arremesso.
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="checkbox" id="tab3" />
                        <label class="accordion-label" for="tab3">Intelecto</label>
                        <div class="accordion-content">
                            Mede seu raciocínio, memória e educação geral. Uma pessoa com Intelecto elevado tem raciocínio rápido e
                            afiado, conhecimento amplo sobre diversos assuntos e habilidades que envolvem estudo, como conhecimento científico.
                            Intelecto é o atributo-base de Atualidades, Ciências,
                            Investigação, Medicina, Ocultismo, Profissão, Sobrevivência, Tática e Tecnologia. Além disso, você
                            recebe treinamento em perícias adicionais igual ao seu Intelecto. Caso seu Intelecto aumente, você aprende
                            uma perícia adicional para cada ponto (e também aumenta o grau de treinamento de uma perícia adi
                            cional nos NEX 35% e 70%). Por fim, o Intelecto afeta sua compreensão do Outro Lado e sua capacidade
                            de racionalizar o paranormal, definindo o número de rituais que você pode aprender.
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="checkbox" id="tab4" />
                        <label class="accordion-label" for="tab4">Presença</label>
                        <div class="accordion-content">
                            Define sua capacidade de observação, força de vontade e habilidades sociais. Um personagem com Presença
                            alta é atento, determinado e possui boa lábia ou aparência. Pode ser uma figura agradável e descolada, ou séria e imponente.
                            Presença é o atributo-base de Diplomacia, Enganação, Intimidação, Intuição, Percepção, Religião e Vontade, além de conceder pontos de esforço adicionais por nível de exposição (NEX).
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="checkbox" id="tab5" />
                        <label class="accordion-label" for="tab5">Vigor</label>
                        <div class="accordion-content">
                            Determina sua saúde e resistência física. Uma pessoa com Vigor elevado pode ser grande e robusta, ou simplesmente ter bom fôlego e disposição.
                            Vigor é o atributo-base de Fortitude, além de conceder pontos de vida adicionais por nível de exposição.
                            Se você aumentar seu Vigor, seus PV aumentam de acordo retroativamente.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/atributos.css" asp-append-version="true" />