@{
    ViewData["Title"] = "Ordem Paranormal - Fichas";
}

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="centerFichas">
    <div class="newFichas">
        <a asp-controller="Ficha" asp-action="Atributos" class="btnNewPerson">Novo Agente</a>        
    </div>
</div>

<link rel="stylesheet" href="~/css/ficha.css" asp-append-version="true" />