@{
    ViewData["Title"] = "Ordem Paranormal";
}

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="centerIndex">
    <div class="boxCenter">
        <div class="imgLateral">
            <img src="~/images/Diabo_Home.webp" alt="Logo">
        </div>
        <div class="telaBoasVindas">            
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />